@page {
    size: A0;
}
* {
    font-family: "Arial";
}
body {
    padding: 0;
    margin: 0;
}
table.wrap {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}
table.col {
    width: 100%;
    height: 100%;
    border-spacing: 12pt 24pt;
}
table, 
td {
    padding: 0;
    margin: 0;
}
tr {
    vertical-align: top;
}
td.col {
    width: 50%;
}
tr.header {
    width: 100%;
    /*height: 470pt;*/
    height: 0;
}
header {
    text-align: center;
}
header h1.title {
    font-size: 85pt;
    line-height: 80pt;
    margin: 0;
}
header h2.title-jp {
    font-size: 50pt;
    font-weight: normal;
    margin: 0;
    margin-top: 20pt;
}
header h2.author {
    font-size: 50pt;
    margin: 0;
    margin-top: 20pt;
    font-weight: normal;
}
header h2.institute {
    font-size: 50pt;
    margin: 0;
    font-weight: normal;
}
section {
    font-size:  24pt;
    border: solid black 4pt;
    height: 100%;
    box-sizing: border-box;
    text-align: justify;
}
section h2 {
    font-size: 40pt;
    margin-top: 0;
    margin-bottom: 15pt;
    padding: 0;
    padding-left: 36pt;
    background-color: black;
    color: white;
}
section h3 {
    font-size: 30pt;
    padding-left: 24pt;
    margin-top: 10pt;
    margin-bottom: 0;
}
section p {
    margin-top: 0;
    margin-left: 24pt;
    margin-right: 24pt;
}
section img {
    width: 100%;
    box-sizing: border-box;
    padding: 12pt 24pt 12pt 24pt;
}
section ul {
    margin-left: 24pt;
    margin-right: 24pt;
    box-sizing: border-box;
}
